%form{:action => "/parse", :method => "POST"}
  Enter zip absolute path or...
  %br/
  %input{:name => "path", :type => "text", placeholder: '/home/user/Downloads/Ruby task test.zip'}
  %br/
  %input{:type => "submit", value: "I'm Feeling Lucky"}
